.element-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 20px;
    background-color: var(--color-white);
    text-decoration: none;
}

.element-container__img {
    width: 600px;
    height: 600px;
    object-fit: contain;
}

.element-container__type {
    margin-top: 35px;
    margin-bottom: auto;
    font-size: 36px;
}

.element-container__brand {
    font-size: 32px;
    margin-bottom: 35px;
}

.element-container__btn {
    padding: var(--spacing-medium);
    background-color: var(--color-blackgrey);
    font-size: 18px;
    width: max-content;
    height: max-content;
    border: none;
    border-radius: var(--border-radius);
}